# Terraform cache
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Terraform variable files containing secrets
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
*.tfplan
*.plan

# Terraform lock file
# Uncomment if you don't want to commit it
# .terraform.lock.hcl

# macOS
.DS_Store

# VS Code
.vscode/

# IntelliJ
.idea/

#aws_credentials

aws.txt
